{% extends 'main/base.html' %}

{% load static %}

{% block title %} Login Page {% endblock %}

{% block content %}

<div class="container py-6"></div>

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
        <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">        

            <div class="card mb-3">

            <div class="card-body">

                <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Login to your Account</h5>                
                </div>

                <!-- <form class="row g-3 needs-validation" novalidate> -->
                <form method="post">
                {% csrf_token %}
    
                <div class="col-12">
                    <label for="username" class="form-label">Your Username</label>
                    <input type="text" name="username" class="form-control" id="username" placeholder="Enter username" required>
                    <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                </div>

                <div class="col-12">
                    <label for="yourPassword" class="form-label">Password</label>
                    <input type="password" name="password1" class="form-control" id="yourPassword" required>
                    <div class="invalid-feedback">Please enter your password!</div>
                </div>
                
                <div class="col-12 mt-4">                
                    <button class="w-100 btn " type="submit" style="background-color: #006400; color: #fff;">sign in</button>
                </div>

                <!-- <div class="col-12 mt-4">
                    <p class="small mb-0">Don't have an account? <a href="">Sign Up</a></p>
                </div> -->
                
                </form>

            </div>
            </div>

           

        </div>
        </div>
    </div>

    </section>

</div>

{% endblock %}