{% extends 'main/base.html' %}

{% load static %}

{% block title %} Download Materials {% endblock %}

{% block content %}

<div class="container py-5">
    <h1>Download Materials</h1>
<ul class="my-2">

    {% for pdf in pdfs %}
        <li class="my-2 downloads">
            <a style="color:black;margin-right:1.3rem;" href="{{ pdf.pdf.url }}" class="dw" target="_blank">{{ pdf.title }}</a> <!-- This opens the PDF in a new tab -->
            
            <a style="color:rgb(0, 0, 0);" href="{{ pdf.pdf.url }}" class="btn btn-outline-primary" download>Download</a> <!-- Download option -->
        </li>
    {% empty %}
        <li>No Download materials available</li>
    {% endfor %}

</ul>
</div>

{% endblock %}